<STYLE type="text/css">
.box1 { color:blue; background:#FFAODC;  
  font-family: ±¼¸²; font-size: 12pt; font-weight: bold;
  margin-left: 20px;
  padding-top:16; padding-bottom:6; padding-left:11; padding-right:16;
  border-color: #aaffee #006600 #ff6600 #eeffaa; border-style:solid;
 }
</STYLE>
